* {
	background: initial;
	border: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	outline: 0;
	overflow-wrap: break-word;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 1rem;
}
body {
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  margin: 3.14% 16.18%;
}
a {
  color: #4078c0;
}
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}
[type=submit]::-moz-focus-inner {
  border: 0;
}
[type=search] {
	-webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
[disabled] {
	cursor: default;
}
blockquote {
  background: #f2f2f2;
  border-left: 4px solid #ccc;
  font-size: 95%;
  font-style: oblique;
  opacity: .85;
  padding: 1em;
  p {
    padding: 0;
  }
}
code {
  background: #f2f2f2;
  border-radius: 2px;
  font-family: monospace;
  padding: 2px 3px 3px 3px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  padding: .7em 0 0 0;
}
img {
  margin: auto;
  height: auto;
  max-width: 100%;
}
p {
  padding: .5em 0;
}
pre {
  background-color: #f2f2f2;
  line-height: 1.2;
  margin: .5em 0;
  padding: 0 .2em;
}
svg {
  vertical-align: middle;
}
table {
	border-collapse: collapse;
  text-align: left;
  caption {
    font-size: 1.5rem;
  }
}
ol, ul {
  padding-left: 2em;
}
