---
layout: default
---
<div class="ofa">
  <div class="cx7 fleft">
    <p>Although WordPress is the most used CMS, it is not a good "universal hammer for thousand nails". Below are my thoughts, techniques and experience while working with WordPress from angle of an intermediate PHP developer. Hope it can help you, especially the beginners, find out a correct path to approach the WordPress world.</p>
    <p>Please consider to contribute by <a href="https://github.com/wpstack/wpstack.github.io/edit/master/homepage.md">improving the content</a>!</p>
  </div>
  <div class="cx5 fright">
    <table>
      <caption>Table of contents</caption>
      <tr><th><a href="#wordpress-the-good-parts">1. WordPress the good parts</a></th></tr>
      <tr><th><a href="#wordpress-the-bad-parts">2. WordPress the bad parts</a></th></tr>
      <tr><th><a href="#wordpress-and-modern-php">3. WordPress and modern PHP</a></th></tr>
      <tr><th><a href="#wordpress-without-the-loop">4. WordPress without the loop</a></th></tr>
      <tr><th><a href="#wordpress-project-from-scratch">5. WordPress project from scratch</a></th></tr>
    </table>
    {% include icon-github.html username=site.github_username %} |
    {% include icon-twitter.html username=site.twitter_username %}
  </div>
</div>
{{ content }}
